.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 20px 0px;
  background-color: dodgerblue;
}

.navbar-section,
h1,
h3 {
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: xx-large;
}

button {
  padding: 5px;
}
span {
  background-color: dodgerblue;
}
