.form-div {
  border: 5px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  text-align: center;
  margin: 50px;
  padding: 20px;
  gap: 10px;
}

.buttons {
  grid-column: 1/4;
  grid-row: 3;
}

.form-div section {
  padding: 5px;
}

.form-div button {
  margin: 5px;
}

.form-div input {
  text-align: center;
}

.type {
  margin-left: 10px;
}
